* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.app {
  background-image: url('img/Day.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 528px;
  height: 100vh;
  margin: 0 auto;
}

.app.night {
  background-image: url('img/Night.png');
}

.main {
  /* min-height: 100vh; */
  padding: 25px;
}

.search-box {
  margin: 15px 0 30px ;
}

.search-box .search-bar {
  /* display: block; */
  /* min-width: 30%; */
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;
  text-align: start;
  
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75)
}

.content {
  width: 90%;
  margin: 0 auto;
}

.location-box {
  margin-top: 4rem;
}

.location-box .location {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.location-box .date{
  color: #dfdfdf;
  font-weight: bold;
  font-size: 1.5rem;
}

.weather-box {
  margin-top: 5rem;
}

.weather-box .temp {
  color: white;
  font-size: 7rem;
  font-weight: bold;

  display: inline-block;
  border: 4px solid white;
  border-radius: 16px;
  padding: 0 3rem;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);

  margin-bottom: 6rem;
}

.weather-box .weather {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}